BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
SpacesInParentheses: false
SpaceAfterCStyleCast: true
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: true
IncludeBlocks: Regroup
NamespaceIndentation: None
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
